body::before{
    /* Navbar scroll behavouir */
    display: block;
    content: '';
    height: 60px;
}
/* Style for Newsletter on Large Screens */
@media (min-width: 768px) {
  .news-input {
    width: 50%;
  }
}
